@model IEnumerable<AllCoursesServiceModel>
@{
    ViewData["Title"] = "Active Courses";
}
<h2>@ViewData["Title"]</h2>

@if (User.Identity.IsAuthenticated)
{

}

<div class="jumbotron home-jumbotron">
    <h3 class="text-center">Welcome to our learning system</h3>
</div>

<div class="row">
    @foreach (var course in Model)
    {
        <div class="col-md-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        @course.Name
                    </div>
                </div>
            </div>
            <div class="panel-body">@course.StartDate.ToShortDateString() - @course.</div>
        </div>
    }
</div>