@model AllArticlesViewModel
@{
    ViewData["Title"] = "Blog";
}

<h2>@ViewData["Title"] </h2>
<div class="row">
    <div class="col-md-6">
        <ul class="list-group article-list">
            @foreach (var article in Model.Articles)
            {
                <li class="list-group-item">
                    @article.Title
                    <br />
                    <small>published by @article.Author on @article.PublishDate.ToShortDateString()</small>
                </li>
            }
        </ul>
    </div>
</div>

